// import global styling
@import '../../../styles';

:host {
  // background: rgba($color: #2e2c2c, $alpha: 1);
  // color: black;
  padding: $s-padding;
}

.sideNav p:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.paragraphSideBar:hover {
  cursor: pointer;
}

.p-col-12 {
  border: 1px solid black;
}

li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

:host ::ng-deep p-grid {
  padding-left: $ss-padding !important;
}

:host ::ng-deep .p-card-body {
  padding: $s-padding !important;
}
:host ::ng-deep .p-card-content {
  padding: 0 !important;
  padding-top: $s-padding !important;
}

:host ::ng-deep button {
  margin-right: 0.15em;
  margin-left: 0.25em;
  background-color: rgb(56, 62, 68);
}

:host ::ng-deep p-sidebar {
  max-width: 200px !important;
  max-height: 70% !important;
}
