<!-- [style]="{ width: '20em', height: '84.5%', top: '100px', bottom: '50px' }" -->
<p-sidebar
  [(visible)]="visibleSidebar"
  [style]="{ width: '20em', overflow: 'auto' }"
  [baseZIndex]="10000"
  position="right"
>
  <div class="sideNav">
    <h2>News</h2>
    <a
      pageScroll
      href="news#B{{ item.id }}"
      class="paragraphSideBar"
      *ngFor="let item of feedArray; index as i"
      (click)="loadNews($event)"
    >
      <p>
        <img
          src="assets/imgs/feeds/{{ item.symbol }}.png"
          alt="{{ item.symbol }}"
        />
        {{ item.name }}
      </p>
    </a>
  </div>
</p-sidebar>

<button
  pButton
  type="button"
  (click)="visibleSidebar = true"
  icon="pi pi-arrow-left"
  style="position: fixed; right: 0px; bottom: 50px;"
></button>

<button
  pButton
  type="button"
  (click)="scrollToTop()"
  icon="pi pi-arrow-up"
  style="position: fixed; right: 40px; bottom: 50px;"
></button>

<!-- <div
  class="p-shadow-1"
  style="margin-top: 18px;"
  *ngFor="let channel of this.feedArray; index as i"
> -->

<p-tabView>
  <p-tabPanel header="News" [selected]="true">
    <div *ngFor="let channel of this.feedArray">
      <app-single-feed
        (clickedBookmark)="setBookmarkMagazine($event)"
        (clickedToSaveBookmark)="setBookmarkSave($event)"
        [channel]="channel"
      ></app-single-feed>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Magazine" rightIcon="pi pi-bookmark">
    <div *ngFor="let channel of this.feedArray">
      <app-single-feed
        *ngIf="channel.bookmark"
        (clickedBookmark)="setBookmarkMagazine($event)"
        (clickedToSaveBookmark)="setBookmarkSave($event)"
        [channel]="channel"
      ></app-single-feed>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Save" rightIcon="pi pi-bookmark">
    <!-- <div *ngFor="let channel of this.feedArray">
      <app-single-feed
        (clickedBookmark)="setBookmarkMagazine($event)"
        [channel]="channel"
      ></app-single-feed>
    </div> -->
  </p-tabPanel>
</p-tabView>
