// import global styling
@import '../../../styles';

.titleSideBar {
  margin-bottom: 20px;
  font-weight: 400;
}

.paragraphSideBar:hover {
  background-color: #9bc53d;
  cursor: pointer;
}

li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 900px;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
}

li a {
  background: rgba($color: #2e2c2c, $alpha: 1);
  color: white;
  display: block;
  padding: $ss-padding;
  margin-bottom: $ss-padding;
  cursor: pointer;
}

li a:hover {
  background: #9bc53d;
  cursor: pointer;
}

:host ::ng-deep button {
  margin-right: 0.25em;
  margin-left: 0.25em;
  background-color: rgb(56, 62, 68);
}

:host ::ng-deep p-sidebar {
  max-width: 200px !important;
  max-height: 70% !important;
}
