<!-- [style]="{ width: '20em', height: '84.5%', top: '100px', bottom: '50px' }" -->
<p-confirmDialog
  [baseZIndex]="10000"
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<p-messages [(value)]="msgs"></p-messages>

<p-sidebar
  [(visible)]="visibleSidebar"
  [style]="{ width: '20em', overflow: 'auto' }"
  [baseZIndex]="10001"
  position="right"
>
  <div class="sideNav">
    <h2>News</h2>
    <a
      *ngFor="let item of feedArray; index as i"
      (click)="loadNews($event, item.id)"
    >
      <p>
        <img
          src="assets/imgs/feeds/{{ item.symbol }}.png"
          alt="{{ item.symbol }}"
        />
        {{ item.name }}
      </p>
    </a>
  </div>
</p-sidebar>

<button
  class="p-button-lg"
  pButton
  type="button"
  (click)="visibleSidebar = true"
  icon="pi pi-arrow-left"
  style="position: fixed; right: 0px; bottom: 50px; z-index: 1000;"
></button>

<button
  class="p-button-lg"
  pButton
  type="button"
  (click)="scrollToTop()"
  icon="pi pi-arrow-up"
  style="position: fixed; right: 45px; bottom: 50px; z-index: 1000;"
></button>

<button
  class="p-button-lg"
  pButton
  type="button"
  (click)="confirmRefresh()"
  icon="pi pi-refresh"
  style="position: fixed; right: 90px; bottom: 50px; z-index: 1000;"
></button>

<!-- <div
  class="p-shadow-1"
  style="margin-top: 18px;"
  *ngFor="let channel of this.feedArray; index as i"
> -->

<p-tabView>
  <p-tabPanel header="News" [selected]="true">
    <div>
      <app-single-feed
        (clickedBookmark)="setBookmarkMagazine($event)"
        (clickedToSaveFeed)="setSaveFeed($event)"
        [channel]="this.feedArray[channel]"
        [atSavedTab]="false"
      ></app-single-feed>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Magazine" rightIcon="pi pi-bookmark">
    <div *ngFor="let channel of this.feedArray">
      <app-single-feed
        *ngIf="channel.bookmark"
        (clickedBookmark)="setBookmarkMagazine($event)"
        (clickedToSaveFeed)="setSaveFeed($event)"
        [channel]="channel"
        [atSavedTab]="false"
      ></app-single-feed>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Saved" rightIcon="pi pi-save">
    <div *ngFor="let channel of this.feedArray">
      <app-single-feed
        (clickedBookmark)="setBookmarkMagazine($event)"
        (clickedToSaveFeed)="setSaveFeed($event)"
        [channel]="channel"
        [atSavedTab]="true"
      ></app-single-feed>
    </div>
  </p-tabPanel>
</p-tabView>

<br />
<br />
<br />
