// import global styling
@import '../../../styles';

li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 900px;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
}

li a {
  background: rgba($color: #2e2c2c, $alpha: 1);
  color: white;
  display: block;
  padding: $ss-padding;
  margin-bottom: $ss-padding;
  cursor: pointer;
}

li a:hover {
  background: #9bc53d;
  cursor: pointer;
}
