<!-- [style]="{ width: '20em', height: '84.5%', top: '100px', bottom: '50px' }" -->
<p-sidebar
  [(visible)]="visibleSidebar"
  [style]="{ width: '20em', overflow: 'auto' }"
  [baseZIndex]="10000"
  position="right"
>
  <div class="sideNav">
    <h2>News</h2>
    <p
      class="paragraphSideBar"
      *ngFor="let item of feedsUrl; index as i"
      (click)="loadNews($event)"
    >
      <img src="assets/imgs/feeds/{{ item.symbol }}" alt="{{ item.symbol }}" />
      <a pageScroll href="news/#B{{ i }}">{{ item.name }}</a>
    </p>
  </div>
</p-sidebar>

<button
  pButton
  type="button"
  (click)="visibleSidebar = true"
  icon="pi pi-arrow-left"
  style="position: fixed; right: 0px;"
></button>

<button
  pButton
  type="button"
  (click)="scrollToTop()"
  icon="pi pi-arrow-up"
  style="position: fixed; right: 40px;"
></button>

<!-- <div
  class="p-shadow-1"
  style="margin-top: 18px;"
  *ngFor="let channel of this.feedArray; index as i"
> -->
<div *ngFor="let channel of this.feedArray; index as i">
  <h2 id="B{{ i }}">
    <img
      src="assets/imgs/feeds/{{ channel.symbol }}"
      alt="{{ channel.symbol }}"
    />
    {{ channel.feed.title }}
  </h2>

  <div class="p-grid">
    <div class="p-col p-align-stretch" *ngFor="let item of channel.items">
      <p-card [style]="{ 'min-height': '200px', 'min-width': '150px' }">
        <li>
          {{ item.pubDate }}
          <span style="font-weight: bolder;">
            <a href="{{ item.link }}">{{ item.title }}</a>
          </span>
        </li>
      </p-card>
      <p>Author: {{ item.author }}</p>
    </div>
  </div>
</div>
