@import '../../../styles.scss';

* {
  padding: 0;
  margin: 0;
}

nav {
  color: var(--color);
  background-color: var(--background-color);
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep .p-dropdown {
  border: 0 !important;
  outline: 0 !important;
  margin: 0;
  padding: 0;
}

:host ::ng-deep .p-dropdown-label,
.ng-trigger {
  display: none;
}

:host ::ng-deep .p-dropdown.p-focus {
  box-shadow: none !important;
}

:host ::ng-deep .p-dropdown-trigger {
  padding-top: $s-padding !important;
  margin: 0;
  border: 0 !important;
  outline: 0 !important;
}
