<ul class="nav nav-tabs">
  <!-- <li class="nav-item">
    <a class="nav-link active" href="#">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Feed News</a>
  </li> -->

  <!-- <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
      >Disabled</a
    >
  </li> -->

  <li class="nav-item dropdown ml-auto">
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
      >Update Every: {{ this.showMinutes }} min {{ this.showSeconds }} sec
    </a>

    <div class="dropdown-menu">
      <a
        class="dropdown-item"
        (click)="load(SEC_30)"
        [class.selected]="interval === SEC_30"
        >30 sec</a
      >
      <a
        class="dropdown-item"
        (click)="load(MIN_1)"
        [class.selected]="interval === MIN_1"
        >1 min</a
      >
      <a
        class="dropdown-item"
        (click)="load(MIN_10)"
        [class.selected]="interval === MIN_10"
        >10 min</a
      >
      <a
        class="dropdown-item"
        (click)="load(MIN_30)"
        [class.selected]="interval === MIN_30"
        >30 min</a
      >
      <a
        class="dropdown-item"
        (click)="load(MIN_60)"
        [class.selected]="interval === MIN_60"
        >1 h</a
      >
      <!-- <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a> -->
    </div>
  </li>
</ul>
