<nav>
  <div>
    <span *ngIf="interval !== 0; else elseBlock">
      {{ 'TRANSLATE.SUBNAV.UPDATE' | translate }}: {{ this.showMinutes }}
      {{ 'TRANSLATE.SUBNAV.MIN' | translate }} {{ this.showSeconds }}
      {{ 'TRANSLATE.SUBNAV.SEC' | translate }}
    </span>
    <ng-template #elseBlock>Update Stopped</ng-template>

    <p-dropdown
      ngDefaultControl
      [options]="intervals"
      [(ngModel)]="selectedInterval"
      optionLabel="name"
      (onChange)="load($event.value.value)"
      #dd
    ></p-dropdown>
  </div>
</nav>
