<h1>{{ 'TRANSLATE.ABOUT.TITLE' | translate }}</h1>

<h2 >{{ 'TRANSLATE.ABOUT.COMMENTS' | translate }}</h2>
<h2>{{ 'TRANSLATE.ABOUT.LAUNCH' | translate }}</h2>

<h1 class="align-center">Main Features</h1>

  <span class="p-d-flex p-flex-wrap p-jc-center">
    <div class="p-mr-3 p-bm-3 card">
      <img src="assets/imgs/about/cryptos.jpg" />
      <h3 class="p-d-flex p-ai-center p-jc-center">Cryptocurrencies Prices</h3>
    </div>
    <div class="p-mr-3 p-bm-3 card">
      <img src="assets/imgs/about/exchanges.jpg" />
      <h3 class="p-d-flex p-ai-center p-jc-center">Top Cryptocurrency Spot Exchanges</h3>
    </div>
    <div class="p-mr-3 p-bm-3 card">
      <img src="assets/imgs/about/news.jpg" />
      <h3 class="p-d-flex p-ai-center p-jc-center">Hot News</h3>
    </div>
    <div class="p-mr-3 p-bm-3 card">
      <img src="assets/imgs/about/watchlist.jpg" />
      <h3 class="p-d-flex p-ai-center p-jc-center">Watchlist</h3>
    </div>
    <div class="p-mr-3 p-bm-3 card">
      <img src="assets/imgs/about/portfolio.jpg" />
      <h3 class="p-d-flex p-ai-center p-jc-center">Portfolio</h3>
    </div>
    <div class="p-mr-3 p-bm-3 card">
      <img src="assets/imgs/about/forecast.jpg" />
      <h3 class="p-d-flex p-ai-center p-jc-center">Forecast </h3>
    </div>
  </span>

  <h1 class="align-center">Founder</h1>

  <span class="p-d-flex p-flex-wrap p-jc-center">
    <div>
      <img src="assets/imgs/about/mk.jpg" />
      <h3 class="p-d-flex p-ai-center p-jc-center p-flex-wrap">Marcelo Vitor Kortmann </h3>
    </div>
    <span class="card">
      <h3>
        Crypto Tracker is been completely developed by Marcelo Vitor Kortmann.
      </h3>
      <h3>
        He's a software engineer depassionate with technology and the crypto world.
      </h3>
    </span>
  </span>



    <br>
    <br>








  <br>








