// import global styling
@import '../../../../styles';

* {
  padding: 0;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-content: stretch;
  font-size: $ss-fontSize;
}

._ngcontent-hgo-c57 {
  padding: 0;
}

p-header {
  font-size: $ss-fontSize;
  font-weight: bolder;
  padding-left: $ss-padding;
}

:host ::ng-deep .p-card-body {
  padding: 0 !important;
  padding-left: $s-padding !important;
}
:host ::ng-deep .p-card-body {
  padding: 0 !important;
  padding-left: $s-padding !important;
}
:host ::ng-deep .p-card-content {
  padding: $s-padding !important;
}

:host ::ng-deep .ui-card {
  height: 100%;
  // &:hover {
  //   // background-color: white;
  //   // cursor: pointer;
  // }
}

:host ::ng-deep .ui-card-content {
  font-size: $m-fontSize;
}
:host ::ng-deep .p-carousel-indicators {
  display: none !important;
}

@media screen and (max-width: 1500px) {
  :host ::ng-deep p-card {
    max-height: 80px !important;
  }

  :host ::ng-deep p-carousel {
    padding: 0 !important;
    margin: 0 !important;
    max-height: 80px !important;
  }

  :host ::ng-deep .p-carousel-indicators {
    padding: 10px !important;
  }

  :host ::ng-deep .p-carousel-container {
    padding-top: 5px !important;
  }

  :host ::ng-deep .p-ripple {
    margin: 0 !important;
    // padding: 0 !important;
    margin-left: $s-padding !important;
    margin-right: $s-padding !important;
    display: none !important;
    // visibility: hidden !important;
  }
}

@media screen and (max-width: 640px) {
  :host ::ng-deep .ui-card {
    /* background-color: #efd2cb; */
    // background-color: $bg2;
    box-shadow: $boxShadow1;
  }
}
