<footer>
  <div>&copy; {{ 'TRANSLATE.FOOTER.LABEL_LEFT' | translate }}</div>
  <div>
    {{ 'TRANSLATE.FOOTER.LABEL_MIDDLE' | translate }}
  </div>
  <div>
    <div class="btn-group dropup dropleft">
      <span
        *ngIf="darkMode; else elseBlock"
        class="material-icons md-48"
        (click)="loadStyle('dark')"
      >
        brightness_low
      </span>
      <ng-template #elseBlock>
        <span class="material-icons md-48" (click)="loadStyle('dark')">
          brightness_high
        </span>
      </ng-template>
      <span class="material-icons md-48" (click)="display = true">
        language
      </span>
    </div>
  </div>
</footer>

<p-sidebar
  [(visible)]="display"
  position="right"
  styleClass="p-sidebar-sm"
  [style]="{ width: '15em' }"
>
  <div class="sideBar">
    <button
      class="firstButton"
      pButton
      type="button"
      (click)="change('en')"
      [class.selected_option]="code === 'en'"
      label="EN"
    ></button>
    <button
      pButton
      type="button"
      (click)="change('de')"
      [class.selected_option]="code === 'de'"
      label="DE"
    ></button>
    <button
      pButton
      type="button"
      (click)="change('pt')"
      [class.selected]="code === 'pt'"
      label="PT"
    ></button>
  </div>
</p-sidebar>
