// import global styling
@import '../../../styles';

footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-padding;
  bottom: 0;
  width: 100%;
  max-height: 48px;
  text-align: center;
  color: var(--color);
  font-size: $ss-fontSize;
  background-color: var(--background-color);
}

.sideBar {
  display: flex;
  flex-direction: column;
  button {
    margin-top: $m-padding;
  }
  .firstButton {
    margin-top: $x-padding;
  }
}

span {
  padding-right: $ss-padding;
  cursor: pointer;
}

.material-icons.md-48 {
  font-size: 48px;
  z-index: 1000;
}

@media screen and (max-width: 400px) {
  .material-icons.md-48 {
    font-size: 32px;
  }
}
