<footer>
  <div>&copy; {{ 'TRANSLATE.FOOTER.LABEL_LEFT' | translate }}</div>
  <div>
    {{ 'TRANSLATE.FOOTER.LABEL_MIDDLE' | translate }}
  </div>
  <div>
    <div class="btn-group dropup dropleft">
      <span
        *ngIf="darkMode; else elseBlock"
        class="material-icons md-48"
        (click)="loadStyle('dark')"
      >
        brightness_low
      </span>
      <ng-template #elseBlock>
        <span class="material-icons md-48" (click)="loadStyle('dark')">
          brightness_high
        </span>
      </ng-template>
      <span class="material-icons md-48" data-toggle="dropdown">
        language
      </span>

      <div class="dropdown-menu">
        <button
          class="dropdown-item"
          (click)="change('en')"
          [class.selected_option]="code === 'en'"
        >
          EN
        </button>
        <button
          class="dropdown-item"
          (click)="change('de')"
          [class.selected_option]="code === 'de'"
        >
          DE
        </button>
        <button
          class="dropdown-item"
          (click)="change('pt')"
          [class.selected]="code === 'pt'"
        >
          PT
        </button>
      </div>
    </div>
  </div>
</footer>
