// import global styling
@import '../../../styles';

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: $colorBlack;
  font-size: $m-fontSize;
  /* background-color: rgb(56, 62, 68); */
  /* background-color: #536472; */
  /* background-color: #ffa69e; */
  /* background-color: #b3dec1; */
  background-color: $bg1;
}
