<!-- for mobile -->
<p-carousel
  class="hideInBigScreens"
  [value]="dataCard"
  [autoplayInterval]="3000"
>
  <ng-template let-item pTemplate="item">

    <p-card>
      <ng-container *ngIf="!item.value_usd">
        <span class="p-card-title"> {{ item.name  }}: </span>
        <span> {{ item.value  }} </span>
      </ng-container>

      <ng-container *ngIf="item.value_usd">
          <span>
            <span class="p-card-title"> {{ item.name }}: </span>
            $ {{ item.value | formatCurrency }}, €
            {{ item.value_eur | formatCurrency }}
            </span>
        </ng-container>
      </p-card>

  </ng-template>
</p-carousel>

<!-- for desktop -->
<div class="p-grid hideBelow1500">
  <div class="p-col-12 p-xl-2" *ngFor="let item of dataCard | slice: 0:4">
    <p-card>
      <span>
        <span class="p-card-title"> {{ item.name }}: </span>
        {{ item.value }}
      </span>
    </p-card>
  </div>

  <div class="p-col-12 p-xl-2" *ngFor="let item of dataCard | slice: 4:6">
    <p-card>
      <span>
        <span class="p-card-title"> {{ item.name }}: </span>
        $ {{ item.value | formatCurrency }}, €
        {{ item.value_eur | formatCurrency }}
      </span>
    </p-card>
  </div>
</div>
