* {
  color: black;
  font-size: large;
}

.containerCalendar {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

p-calendar {
  .ui-datepicker {
    right: -290px !important;
  }
}
