* {
  color: black;
  font-size: large;
}

.containerCalendar {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  p-calendar {
    padding-right: 5px;
  }
}

.containerGraph {
  display: flex;
  // justify-content: flex-start;
  justify-content: center;
}

p-chart {
  flex-basis: 99% !important;
}
