<!-- <p-toast [style]="{ marginTop: '80px' }"></p-toast> -->
<!-- [inputStyle]="{ width: '279px' }" -->
<div class="containerCalendar">
  <p-calendar
    [(ngModel)]="selectedDateRange"
    dateFormat="dd.mm.yy"
    selectionMode="range"
    [readonlyInput]="true"
    [numberOfMonths]="1"
    [showIcon]="true"
    (onClose)="replotGraph()"
    [placeholder]="placeholder"
  ></p-calendar>
  <p-dropdown
    [options]="value"
    placeholder="BTC"
    [(ngModel)]="value"
  ></p-dropdown>
</div>

<p-chart
  type="line"
  height="400"
  max-width="1800"
  [data]="data"
  [options]="options"
>
</p-chart>
