<!-- <p-toast [style]="{ marginTop: '80px' }"></p-toast> -->
<!-- [inputStyle]="{ width: '279px' }" -->
<div class="containerCalendar">
  <p-calendar
    *ngIf="!showInSmallScreens"
    ngDefaultControl
    #idToClose
    [(ngModel)]="selectedDateRange"
    dateFormat="dd.mm.yy"
    selectionMode="range"
    [readonlyInput]="true"
    [numberOfMonths]="1"
    [showIcon]="true"
    (onClose)="replotGraph()"
    [placeholder]="placeholder"
    [style]="{ width: '100%', 'min-width': '100%' }"
    [maxDate]="todayDate"
    hideOnDateTimeSelect="true"
    (onSelect)="closeCalendarDialog($event)"
  ></p-calendar>
  <p-calendar
    *ngIf="showInSmallScreens"
    [touchUI]="true"
    ngDefaultControl
    #idToClose
    [(ngModel)]="selectedDateRange"
    dateFormat="dd.mm.yy"
    selectionMode="range"
    [readonlyInput]="true"
    [numberOfMonths]="1"
    [showIcon]="true"
    (onClose)="replotGraph()"
    [placeholder]="placeholder"
    [style]="{ width: '100%', 'min-width': '100%' }"
    [maxDate]="todayDate"
    hideOnDateTimeSelect="true"
    (onSelect)="closeCalendarDialog($event)"
  ></p-calendar>
  <p-dropdown
    ngDefaultControl
    [options]="exchanges"
    (onChange)="selection($event, dd)"
    [(ngModel)]="selectRate"
    name="selectRate"
    #dd
    [style]="{ width: '100%', 'min-width': '100%' }"
  ></p-dropdown>
</div>

<p-chart
  type="line"
  height="400"
  max-width="1800"
  [data]="data"
  [options]="options"
>
</p-chart>
