<div class="p-grid">
  <div class="p-col-3 p-col-fixed">
    <p-card
      header="{{ 'TRANSLATE.HOME.GRAPHIC_CARD.CRYPTO_DOMINANCE' | translate }}"
    >
      <p-chart type="doughnut" [data]="dataDoughnut"></p-chart>
    </p-card>
  </div>

  <div class="p-col" *ngFor="let item of dataCard">
    <p-card>
      <p-header>
        {{ item.name }}
      </p-header>

      <div>
        <span *ngIf="item.value_usd !== undefined">$</span
        >{{ item.value | formatCurrency }}
      </div>

      <div *ngIf="item.value_eur !== undefined">
        <span>€</span> {{ item.value_eur | formatCurrency }}
      </div>
    </p-card>
  </div>
</div>
