<div class="p-grid p-align-center">
  <div class="p-col-fixed" style="width: 400px;">
    <p-card
      header="{{ 'TRANSLATE.HOME.GRAPHIC_CARD.CRYPTO_DOMINANCE' | translate }}"
    >
      <p-chart
        type="doughnut"
        [data]="dataDoughnut"
        style="padding: 0;"
      ></p-chart>
    </p-card>
  </div>

  <div class="p-col" *ngFor="let item of dataCard">
    <p-card>
      <p-header>
        {{ item.name }}
      </p-header>

      <div>
        <span *ngIf="item.value_usd !== undefined">$</span
        >{{ item.value | formatCurrency }}
      </div>

      <div *ngIf="item.value_eur !== undefined">
        <span>€</span> {{ item.value_eur | formatCurrency }}
      </div>
    </p-card>
  </div>
</div>
