// import global styling
@import '../../../../styles';

* {
  padding: $s-padding;
}

p-header {
  font-size: $b-padding;
  font-weight: bolder;
  padding-left: $ss-padding;
}

:host ::ng-deep .ui-card {
  height: 100%;
  &:hover {
    background-color: $bg1;
    cursor: pointer;
  }
}

:host ::ng-deep .ui-card-content {
  font-size: $m-fontSize;
}

@media screen and (max-width: 640px) {
  :host ::ng-deep .ui-card {
    /* background-color: #efd2cb; */
    background-color: $bg2;
    box-shadow: $boxShadow1;
  }
}
