// import global styling
@import '../../../../styles';

* {
  padding: 0;
  cursor: pointer;
}

img {
  max-width: $m-imgHeight;
  height: $m-imgHeight;
}

:host ::ng-deep ._ngcontent-dbo-c57 {
  /* min-height: inherit; */
  min-height: 100% !important;
}

:host ::ng-deep .ui-accordion {
  background-color: none;
}

:host ::ng-deep .p-card-body {
  padding: 0 !important;
  padding-left: $s-padding !important;
}
:host ::ng-deep .p-card-content {
  padding: 0 !important;
  padding-top: $s-padding !important;
}

@media screen and (max-width: 640px) {
  ._ngcontent-ocx-c28 {
    padding-top: 0;
  }
}
