img {
  max-width: 24px;
  max-height: 24px;
}
/* 
:host >>> .ui-card {
  background-color: #343a40;
  color: white;
  border-color: #343a40;
} */

:host >>> .ui-accordion {
  background-color: none;
}
