// import global styling
@import '../../../../styles';

* {
  padding: $es-padding;
  cursor: pointer;
}

img {
  width: $m-imgWidth;
  height: $m-imgHeight;
}

:host ::ng-deep .ui-card {
  /* min-height: inherit; */
  min-height: 100%;
}

:host ::ng-deep .ui-accordion {
  background-color: none;
}

@media screen and (max-width: 640px) {
  ._ngcontent-ocx-c28 {
    padding-top: 0;
  }
}
