<div class="p-grid">
  <div class="p-col-1" *ngFor="let item of data">
    <p-card [style]="{ width: '170px' }">
      <p-header style="font-size: larger; font-weight: bold;">
        <span style="padding-left: 10px;">
          <img
            src="assets/imgs/coins/{{ item.symbol | lowercase }}.png"
            alt="{{ item.symbol | lowercase }}"
          />
          {{ item.name }}
        </span>
      </p-header>
      <div style="font-size: large; text-align: left;">
        {{ item.price_usd | currency: "USD" }}
      </div>
      <div style="font-size: large; text-align: left;">
        {{ item.price_eur | currency: "EUR" }}
      </div>
      <!-- <div>{{ item.porcent_change_24h }}</div>
      <div>{{ item.porcent_change_7d }}</div> -->
      <p-footer>
        <!-- <p-accordion> -->
        <!-- <p-accordionTab> -->
        <!-- <p-header> -->
        <!-- <i class="material-C
          icons">trending_up</i> -->
        <!-- </p-header> -->
        <div
          *ngIf="item.percent_change_1h > 0; then thenBlock; else elseBlock"
        ></div>
        <ng-template #thenBlock>
          <!-- <p>Change 1h</p> -->
          <td style="color: green;">
            <i class="material-icons">trending_up</i>
            {{ item.percent_change_1h / 100 | percent: "2.2-2" }}
          </td>
        </ng-template>
        <ng-template #elseBlock>
          <!-- <p>Change 1h</p> -->
          <td style="color: red;">
            <i class="material-icons">trending_down</i>
            {{ item.percent_change_1h / 100 | percent: "2.2-2" }}
          </td>
        </ng-template>
        <!-- </p-accordionTab> -->
        <!-- </p-accordion> -->
      </p-footer>
    </p-card>
  </div>
</div>
