* {
  padding: 0px;
  cursor: default;
}

img {
  width: 36px;
  height: 36px;
}

:host >>> .ui-card {
  /* min-height: inherit; */
  height: 100%;
  background-color: khaki;
}

:host >>> .ui-accordion {
  background-color: none;
}
