<div *ngIf="!atSavedTab">
  <h2
    id="B{{ channel.id }}"
    *ngIf="!atSavedTab || (channel.saved[0] && atSavedTab)"
  >
    <img
      src="assets/imgs/feeds/{{ channel.symbol }}.png"
      alt="{{ channel.symbol }}"
    />
    {{ channel.name }}
    <i
      class="pi pi-bookmark"
      style="font-size: 2rem; cursor: pointer;"
      [class.changeBookmark]="channel.bookmark"
      (click)="sendTriggerToParent({ name: channel.name, id: channel.id })"
    ></i>
  </h2>
</div>

<div class="p-grid" *ngIf="!atSavedTab; else elseAtSavedTab">
  <div
    class="p-col p-align-stretch"
    *ngFor="let item of channel.items; let i = index"
  >
    <p-card [style]="{ 'min-height': '200px', 'min-width': '150px' }">
      <li>
        <!-- {{ item.pubDate | date: 'dd/MM' }} - -->
        <!-- {{ item.pubDate | date: 'hh:mm' }} -->
        {{ item.pubDate }}

        <i
          class="pi pi-save"
          style="cursor: pointer;"
          (click)="
            sendTriggerToSaveToParent({
              name: channel.name,
              itemPubDate: item.pubDate
            })
          "
          [class.changeBookmark]="item.bookmark"
        ></i>

        <span style="font-weight: bolder;">
          <a href="{{ item.link }}"> {{ item.title }}</a>
        </span>
      </li>
    </p-card>
    <p>Author: {{ item.author }}</p>
  </div>
</div>

<ng-template #elseAtSavedTab>
  <div class="p-grid p-dir-col p-justify-start">
    <div
      class="p-col"
      *ngFor="let item of channel.saved[1].items; let i = index"
    >
      <p-card>
        <p-header>
          <img
            src="assets/imgs/feeds/{{ channel.symbol }}.png"
            alt="{{ channel.symbol }}"
            style="max-width: 48px; margin-top: 16px;"
          />
          <!-- {{ item.pubDate | date: 'dd/MM' }} - -->
          <!-- {{ item.pubDate | date: 'hh:mm' }} -->
          {{ item.pubDate }}
          <i
            class="pi pi-times"
            style="cursor: pointer; float: right; margin: 5px;"
            (click)="
              sendTriggerToSaveToParent({
                name: channel.name,
                itemPubDate: item.pubDate
              })
            "
            [class.changeBookmark]="item.bookmark"
          ></i>
        </p-header>
        <li>
          <span style="font-weight: bolder;">
            <a href="{{ item.link }}"> {{ item.title }}</a>
          </span>
        </li>
      </p-card>
      <p>Author: {{ item.author }}</p>
    </div>
  </div>
</ng-template>
