<div *ngIf="!atSavedTab" class="cardBox">
  <img
    src="assets/imgs/feeds/{{ channel.symbol }}.png"
    alt="{{ channel.symbol }}"
  />
  <h2
    id="B{{ channel.id }}"
    *ngIf="!atSavedTab || (channel.saved[0] && atSavedTab)"
  >
    {{ channel.name }}
  </h2>
  <i
    class="pi pi-bookmark"
    style="font-size: 2rem; cursor: pointer;"
    [class.changeBookmark]="channel.bookmark"
    (click)="sendTriggerToParent({ name: channel.name, id: channel.id })"
  ></i>
</div>

<div class="p-grid" *ngIf="!atSavedTab">
  <div
    class="p-col-12 p-shadow-1"
    *ngFor="let item of channel.items; let i = index"
  >
    <li>
      {{ item.pubDate | formatDatePipe }}

      <i
        class="pi pi-save"
        style="font-size: 2rem; cursor: pointer;"
        (click)="
          sendTriggerToSaveToParent({
            name: channel.name,
            itemPubDate: item.pubDate
          })
        "
        [class.changeBookmark]="item.bookmark"
      ></i>
    </li>
    <p-panel header="{{ item.title }}" [toggleable]="true" [collapsed]="true">
      <div [innerHTML]="item.content"></div>
      <a href="{{ item.link }}"> {{ item.title }}</a>
    </p-panel>

    <p>Author: {{ item.author }}</p>
  </div>
</div>

<div class="p-grid" *ngIf="atSavedTab" class="p-shadow">
  <div
    class="p-col-12 p-shadow-1"
    *ngFor="let item of channel.saved[1].items; let i = index"
  >
    <div class="cardBox">
      <img
        src="assets/imgs/feeds/{{ channel.symbol }}.png"
        alt="{{ channel.symbol }}"
        style="max-width: 48px; margin-top: 16px;"
      />

      <h2>
        {{ channel.name }}
      </h2>

      <i
        class="pi pi-times"
        style="cursor: pointer; float: right; margin: 5px;"
        (click)="
          sendTriggerToSaveToParent({
            name: channel.name,
            itemPubDate: item.pubDate
          })
        "
        [class.changeBookmark]="item.bookmark"
      ></i>
    </div>
    {{ item.pubDate | formatDatePipe }}

    <p-panel header="{{ item.title }}" [toggleable]="true" [collapsed]="true">
      <div [innerHTML]="item.content"></div>
      <a href="{{ item.link }}"> {{ item.title }}</a>
    </p-panel>

    <p>Author: {{ item.author }}</p>
  </div>
</div>
