// import global styling
@import '../../../../styles';

:host {
  padding: 0;
  margin: 0;
}

.cardBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

i {
  margin-top: $s-padding;
  margin-bottom: $s-padding;
}

::ng-deep .p-panel-header {
  padding: $es-padding !important;
  padding-left: 0 !important;
}

:host ::ng-deep .p-card-body {
  padding: 0 !important;
}
:host ::ng-deep .p-card-content {
  padding: 0 !important;
}

.changeBookmark {
  filter: invert(48%) sepia(30%) saturate(3207%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
}
