<!-- carousel primeng -->
<div class="hideInBigScreens">
  <p-carousel [value]="data" [numVisible]="2" [numScroll]="2">
    <!-- <p-carousel
    [autoplayInterval]="3000"
    [value]="data"
    class="p-grid p-align-center p-col-6"
    styleClass="custom-carousel"
    [numVisible]="2"
    [numScroll]="2"
  > -->
    <ng-template let-item pTemplate="item">
      <div [class.selected]="item.symbol === symbol">
        <p-card [style]="{ 'min-height': '150px' }">
          <!-- <p-card (click)="selectedCoin(item.name, item.symbol)"> -->
          <!-- <p-header style="font-size: larger; font-weight: bold;"> -->
          <span
            style="padding-left: 10px;"
            (click)="selectedCoin(item.name, item.symbol)"
          >
            <img
              src="assets/imgs/coins/{{ item.symbol | lowercase }}.png"
              alt="{{ item.symbol | lowercase }}"
            />
            {{ item.name }}
          </span>
          <!-- </p-header> -->
          <p-accordion>
            <p-accordionTab header="{{ item.price_usd | currency: 'USD' }}">
              <!-- Low of the day -->
              <div class="highOfTheDay">
                <span class="material-icons">
                  arrow_upward
                </span>
                <span>
                  {{ item.high_usd | currency: 'USD' }}
                </span>
              </div>
              <!-- High of the day -->
              <div class="lowOfTheDay">
                <span class="material-icons">
                  arrow_downward
                </span>
                <span>
                  {{ item.low_usd | currency: 'USD' }}
                </span>
              </div>
            </p-accordionTab>
            <p-accordionTab header="{{ item.price_eur | currency: 'EUR' }}">
              <!-- Low of the day -->
              <div class="highOfTheDay">
                <span class="material-icons">
                  arrow_upward
                </span>
                <span>
                  {{ item.high_eur | currency: 'EUR' }}
                </span>
              </div>
              <!-- High of the day -->
              <div class="lowOfTheDay">
                <span class="material-icons">
                  arrow_downward
                </span>
                <span>
                  {{ item.low_eur | currency: 'EUR' }}
                </span>
              </div>
            </p-accordionTab>
          </p-accordion>

          <!-- Percent Change 1h -->
          <div
            *ngIf="item.percent_change_1h > 0; then thenBlock; else elseBlock"
          ></div>
          <ng-template #thenBlock>
            <span>
              <span>
                <i class="material-icons">
                  swap_vert
                </i>
                1h
              </span>

              <td style="color: green;">
                <i class="material-icons">trending_up</i>
                {{ item.percent_change_1h / 100 | percent: '2.2-2' }}
              </td>
            </span>
          </ng-template>
          <ng-template #elseBlock>
            <span>
              <span>
                <i class="material-icons">
                  swap_vert
                </i>
                1h
              </span>
              <td style="color: red;">
                <i class="material-icons">trending_down</i>
                {{ item.percent_change_1h / 100 | percent: '2.2-2' }}
              </td>
            </span>
          </ng-template>
          <!-- Percent Change 24h -->
          <div
            *ngIf="
              item.percent_change_24h > 0;
              then thenBlock24h;
              else elseBlock24h
            "
          ></div>
          <ng-template #thenBlock24h>
            <span>
              <span>
                <i class="material-icons">
                  swap_vert
                </i>
                24h
              </span>

              <td style="color: green;">
                <i class="material-icons">trending_up</i>
                {{ item.percent_change_24h / 100 | percent: '2.2-2' }}
              </td>
            </span>
          </ng-template>
          <ng-template #elseBlock24h>
            <span>
              <span>
                <i class="material-icons">
                  swap_vert
                </i>
                24h
              </span>
              <td style="color: red;">
                <i class="material-icons">trending_down</i>
                {{ item.percent_change_24h / 100 | percent: '2.2-2' }}
              </td>
            </span>
          </ng-template>
          <!-- Percent Change 7d -->
          <div
            *ngIf="
              item.percent_change_7d > 0;
              then thenBlock7d;
              else elseBlock7d
            "
          ></div>
          <ng-template #thenBlock7d>
            <span>
              <span>
                <i class="material-icons">
                  swap_vert
                </i>
                7d
              </span>
              <td style="color: green;">
                <i class="material-icons">trending_up</i>
                {{ item.percent_change_7d / 100 | percent: '2.2-2' }}
              </td>
            </span>
          </ng-template>
          <ng-template #elseBlock7d>
            <span>
              <span>
                <i class="material-icons">
                  swap_vert
                </i>
                7d
              </span>
              <td style="color: red;">
                <i class="material-icons">trending_down</i>
                {{ item.percent_change_7d / 100 | percent: '2.2-2' }}
              </td>
            </span>
          </ng-template>
          <!-- </p-footer>  -->
        </p-card>
      </div>
    </ng-template>
  </p-carousel>
</div>

<!-- finished carousel primeng -->

<div class="p-grid p-align-center p-justify-around hideBelow1500">
  <div class="p-col p-col-align-stretch" *ngFor="let item of data">
    <div [class.selected]="item.symbol === symbol">
      <p-card [style]="{ 'min-height': '160px' }">
        <p-header style="font-size: medium; font-weight: bold;">
          <span
            style="padding-left: 10px;"
            (click)="selectedCoin(item.name, item.symbol)"
          >
            <img
              src="assets/imgs/coins/{{ item.symbol | lowercase }}.png"
              alt="{{ item.symbol | lowercase }}"
            />
            {{ item.name }}
          </span>
        </p-header>

        <p-accordion>
          <p-accordionTab header="{{ item.price_usd | currency: 'USD' }}">
            <!-- Low of the day -->
            <div class="highOfTheDay">
              <span class="material-icons">
                arrow_upward
              </span>
              <span>
                {{ item.high_usd | currency: 'USD' }}
              </span>
            </div>
            <!-- High of the day -->
            <div class="lowOfTheDay">
              <span class="material-icons">
                arrow_downward
              </span>
              <span>
                {{ item.low_usd | currency: 'USD' }}
              </span>
            </div>
          </p-accordionTab>
          <p-accordionTab header="{{ item.price_eur | currency: 'EUR' }}">
            <!-- Low of the day -->
            <div class="highOfTheDay">
              <span class="material-icons">
                arrow_upward
              </span>
              <span>
                {{ item.high_eur | currency: 'EUR' }}
              </span>
            </div>
            <!-- High of the day -->
            <div class="lowOfTheDay">
              <span class="material-icons">
                arrow_downward
              </span>
              <span>
                {{ item.low_eur | currency: 'EUR' }}
              </span>
            </div>
          </p-accordionTab>
        </p-accordion>

        <!-- <div style="font-size: large; text-align: left;">
          {{ item.price_usd | currency: 'USD' }}
        </div> -->
        <!-- Low of the day
        <div style="font-size: medium; text-align: right;">
          {{ item.high_usd | currency: 'USD' }}
        </div>
        High of the day
        <div style="font-size: medium; text-align: right;">
          {{ item.low_usd | currency: 'USD' }}
        </div> -->

        <!-- <div style="font-size: large; text-align: left;">
          {{ item.price_usd | currency: 'EUR' }}
        </div> -->

        <!-- Percent Change 1h -->
        <div
          *ngIf="item.percent_change_1h > 0; then thenBlock; else elseBlock"
        ></div>
        <ng-template #thenBlock>
          <span>
            <span>
              <i class="material-icons">
                swap_vert
              </i>
              1h
            </span>

            <td style="color: green;">
              <i class="material-icons">trending_up</i>
              {{ item.percent_change_1h / 100 | percent: '2.2-2' }}
            </td>
          </span>
        </ng-template>
        <ng-template #elseBlock>
          <span>
            <span>
              <i class="material-icons">
                swap_vert
              </i>
              1h
            </span>
            <td style="color: red;">
              <i class="material-icons">trending_down</i>
              {{ item.percent_change_1h / 100 | percent: '2.2-2' }}
            </td>
          </span>
        </ng-template>
        <!-- Percent Change 24h -->
        <div
          *ngIf="
            item.percent_change_24h > 0;
            then thenBlock24h;
            else elseBlock24h
          "
        ></div>
        <ng-template #thenBlock24h>
          <span>
            <span>
              <i class="material-icons">
                swap_vert
              </i>
              24h
            </span>

            <td style="color: green;">
              <i class="material-icons">trending_up</i>
              {{ item.percent_change_24h / 100 | percent: '2.2-2' }}
            </td>
          </span>
        </ng-template>
        <ng-template #elseBlock24h>
          <span>
            <span>
              <i class="material-icons">
                swap_vert
              </i>
              24h
            </span>
            <td style="color: red;">
              <i class="material-icons">trending_down</i>
              {{ item.percent_change_24h / 100 | percent: '2.2-2' }}
            </td>
          </span>
        </ng-template>
        <!-- Percent Change 7d -->
        <div
          *ngIf="item.percent_change_7d > 0; then thenBlock7d; else elseBlock7d"
        ></div>
        <ng-template #thenBlock7d>
          <span>
            <span>
              <i class="material-icons">
                swap_vert
              </i>
              7d
            </span>
            <td style="color: green;">
              <i class="material-icons">trending_up</i>
              {{ item.percent_change_7d / 100 | percent: '2.2-2' }}
            </td>
          </span>
        </ng-template>
        <ng-template #elseBlock7d>
          <span>
            <span>
              <i class="material-icons">
                swap_vert
              </i>
              7d
            </span>
            <td style="color: red;">
              <i class="material-icons">trending_down</i>
              {{ item.percent_change_7d / 100 | percent: '2.2-2' }}
            </td>
          </span>
        </ng-template>
        <!-- </p-footer> -->
      </p-card>
    </div>
  </div>
</div>
