// import global styling
@import '../../../../styles';

* {
  padding: 0;
}

img {
  max-width: $s-imgHeight;
  height: $s-imgHeight;
}

::ng-deep p-header {
  cursor: pointer;
}

::ng-deep p-accordion {
  background-color: var(--color) !important;
  border: 0;
}

:host ::ng-deep .p-card-body {
  padding: 0 !important;
  padding-left: $s-padding !important;
}
:host ::ng-deep .p-card-content {
  padding: 0 !important;
  padding-top: $s-padding !important;
  // padding-right: $s-padding !important;
}
:host ::ng-deep .p-card {
  padding-right: $s-padding !important;
}

span {
  justify-content: space-between;
}

span,
td {
  padding: 0;
  margin: 0;
  display: flex;
}

:host ::ng-deep .p-carousel-indicators {
  padding: 10px !important;
}

:host ::ng-deep .p-carousel-container {
  padding-top: 5px !important;
}

:host ::ng-deep .p-ripple {
  margin: 0 !important;
  margin-left: $s-padding !important;
  margin-right: $s-padding !important;
}

// :host ::ng-deep .p-carousel-indicators {
//   display: none !important;
// }

.hideInBigScreens {
  padding-top: $ss-padding;
  padding-bottom: $ss-padding;
}

:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1px !important;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

:host ::ng-deep .p-accordion .p-accordion-content {
  padding: 1px !important;
}

.highOfTheDay {
  display: flex;
  justify-content: space-between;
}
.lowOfTheDay {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1500px) {
  p-carousel {
    padding-top: 2px !important;
  }
  :host ::ng-deep .p-carousel-indicators {
    display: none !important;
  }
  .smallFont {
    font-size: $es-fontSize;
  }
}

@media screen and (max-width: 640px) {
  ._ngcontent-ocx-c28 {
    padding-top: 0;
  }
}
