// import global styling
@import '../../../../styles';

h2 {
  position: absolute;
}

th {
  font-size: $ms-fontSize;
  line-height: 0.5;
  p-dropdown {
    line-height: 1.25;
  }
}

td {
  font-size: $ss-fontSize;
}

td {
  li,
  ul {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
  }
}

li {
  cursor: pointer;
}

input {
  font-size: 15px;
  text-align: left;
  vertical-align: left;
  padding: 0 !important;
  margin: 0;
  /* max-width: 160px; */
  max-width: 120px;
}

div.container {
  margin: 0 !important;
  padding: 0 !important;
}

:host ::ng-deep th,
:host ::ng-deep tr,
:host ::ng-deep td {
  // padding: 0 !important;
  padding: $s-padding !important;
  margin: 0 !important;
}

:host ::ng-deep .p-inputtext {
  padding: $es-padding !important;
  padding-left: $s-padding !important;
  margin: 0 !important;
}

img {
  max-width: 24px;
  max-height: 24px;
  min-width: 24px;
  min-height: 24px;
}

p-sortIcon {
  color: black;
}

.ui-helper-clearfix {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  line-height: 2;
}
