<p-table
  [value]="exchanges"
  [paginator]="true"
  [pageLinks]="3"
  [rows]="15"
  [rowHover]="true"
  [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
  [showCurrentPageReport]="false"
  [sortable]="true"
  sortField="adjusted_rank"
  [sortOrder]="1"
  #dt
>

  <ng-template pTemplate="header">
    <tr>
      <th [style]="{ width: '95px' }" pSortableColumn="adjusted_rank">
        {{ 'TRANSLATE.EXCHANGES.TABLE.RANK' | translate}}
        <p-sortIcon field="adjusted_rank"></p-sortIcon>
      </th>

      <th class="nameExchange" [style]="{ width: '130px' }">
        <div class="container">
          <input
            pInputText
            type="text"
            (input)="dt.filter($event.target.value, 'name', 'startsWith')"
            placeholder="{{ 'TRANSLATE.EXCHANGES.TABLE.INPUT_SEARCH_FIELD' | translate}}"
            class="ui-column-filter"
          />
        </div>
      </th>
      <th class="hideAbove640">
        <p-dropdown
          ngDefaultControl
          [options]="optionsDropDown"
          (onChange)="selection($event, dd)"
          [(ngModel)]="selected"
          name="selected"
          #dd
          [style]="{ width: '100%', 'min-width': '100%' }"
        ></p-dropdown>
      </th>
      <th class="hideBelow768" [style]="{ width: '110px' }">
        {{ 'TRANSLATE.EXCHANGES.TABLE.VOLUME_24H' | translate}}
      </th>
      <th
      class="hideBelow640"
      [style]="{ width: '160px' }"
      pSortableColumn="currencies"
      >
      {{ 'TRANSLATE.EXCHANGES.TABLE.CURRENCIES' | translate}}
        <p-sortIcon field="currencies"></p-sortIcon>
      </th>
      <th
        class="hideBelow640"
        [style]="{ width: '140px' }"
        pSortableColumn="markets"
      >
      {{ 'TRANSLATE.EXCHANGES.TABLE.MARKETS' | translate}}
      <p-sortIcon field="markets"></p-sortIcon>
    </th>
    <th class="hideBelow1200">
      {{ 'TRANSLATE.EXCHANGES.TABLE.DESCRIPTION' | translate}}
    </th>

    <th class="hideBelow768" [style]="{ width: '160px' }">
      {{ 'TRANSLATE.EXCHANGES.TABLE.WEBSITE' | translate}}
    </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-exchange>
    <tr>
      <td [style]="{ width: '80px' }">
        {{ exchange.adjusted_rank }}
      </td>
      <td>
        <img
          src="assets/imgs/exchanges/{{ exchange.name | lowercase }}.png"
          alt="{{ exchange.name | lowercase }}"
        />
        {{ exchange.name }}
      </td>
      <td class="hideAbove640">
        <span *ngIf="selectedName === 'Vol. 24h'">
          {{ exchange.quotes.USD.adjusted_volume_24h | formatCurrency }}
        </span>
        <span *ngIf="selectedName === 'Currencies'">
          {{ exchange.currencies }}
        </span>
        <span *ngIf="selectedName === 'Markets'">
          {{ exchange.markets }}
        </span>
        <span *ngIf="selectedName === 'Websites'">
          <li (click)="onNavigate($event)">
            {{ exchange.links.website[0] | formatUrl }}
          </li>
        </span>
      </td>
      <td class="hideBelow768">
        {{ exchange.quotes.USD.adjusted_volume_24h | formatCurrency }}
      </td>
      <td class="hideBelow640">
        {{ exchange.currencies }}
      </td>
      <td class="hideBelow640">
        {{ exchange.markets }}
      </td>
      <td class="hideBelow1200">
        {{ exchange.description }}
      </td>
      <td class="hideBelow768">
        <li (click)="onNavigate($event)">
          {{ exchange.links.website[0] | formatUrl }}
        </li>
      </td>
    </tr>
  </ng-template>
</p-table>

<br />
<br />
