// import global styling
@import '../../../../styles';

h2 {
  position: absolute;
}

th {
  font-size: $m-fontSize;
  line-height: 0.5;
  p-dropdown {
    line-height: 1.25;
  }
}

td {
  font-size: $ms-fontSize;
}

tr:nth-child(odd) {
  font-weight: bold;
}

td {
  li,
  ul {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
  }
}

li {
  cursor: pointer;
}

input {
  font-size: 15px;
  text-align: left;
  vertical-align: left;
  padding: 0 !important;
  margin: 0;
  max-width: 120px;
}

.container {
  justify-content: flex-start;
  align-items: center;
  padding-top: $m-padding;
  padding-bottom: $m-padding;
}

:host ::ng-deep th,
:host ::ng-deep tr,
:host ::ng-deep td {
  padding: $s-padding !important;
  margin: 0 !important;
}

:host ::ng-deep .p-inputtext {
  padding: $es-padding !important;
  padding-left: $s-padding !important;
  margin: 0 !important;
}

img {
  max-width: 24px;
  max-height: 24px;
  min-width: 24px;
  min-height: 24px;
}

p-sortIcon {
  color: black;
}

.ui-helper-clearfix {
  line-height: 2;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
