<!-- <p-toast [style]="{ marginTop: '80px' }"></p-toast> -->
<!-- [inputStyle]="{ width: '279px' }" -->
<div class="containerCalendar">
  <!-- <p-button
    *ngIf="!expandGraph"
    (click)="expand()"
    [style]="{ height: '30px', width: '52px', padding: '0' }"
  >
    <img src="assets/imgs/icons/shrinkbrown.svg" />
  </p-button>
  <p-button
    *ngIf="expandGraph"
    (click)="expand()"
    [style]="{ height: '30px', width: '52px', padding: '0' }"
  >
    <img src="assets/imgs/icons/expandbrown.svg" />
  </p-button> -->

  <p-calendar
    *ngIf="!showInSmallScreens"
    ngDefaultControl
    #idToClose
    [(ngModel)]="selectedDateRange"
    dateFormat="dd.mm.yy"
    selectionMode="range"
    [readonlyInput]="true"
    [numberOfMonths]="1"
    [showIcon]="true"
    [placeholder]="placeholder"
    [style]="{ width: '100%', 'min-width': '100%' }"
    [maxDate]="todayDate"
    hideOnDateTimeSelect="true"
    (onSelect)="closeCalendarDialog($event)"
  ></p-calendar>
  <p-calendar
    *ngIf="showInSmallScreens"
    [touchUI]="true"
    ngDefaultControl
    #idToClose
    [(ngModel)]="selectedDateRange"
    dateFormat="dd.mm.yy"
    selectionMode="range"
    [readonlyInput]="true"
    [numberOfMonths]="1"
    [showIcon]="true"
    [placeholder]="placeholder"
    [style]="{ width: '100%', 'min-width': '100%' }"
    [maxDate]="todayDate"
    hideOnDateTimeSelect="true"
    (onSelect)="closeCalendarDialog($event)"
  ></p-calendar>
  <p-dropdown
    ngDefaultControl
    [options]="exchanges"
    (onChange)="selection($event, dd)"
    [(ngModel)]="selectRate"
    name="selectRate"
    #dd
    [style]="{ width: '100%', 'min-width': '100%' }"
  ></p-dropdown>
</div>

<div class="containerGraph">
  <p-chart
    id="lineGraph"
    type="line"
    height="320"
    max-width="1800"
    [data]="data"
    [options]="options"
  >
  </p-chart>
</div>
