// import global styling
@import '../../../../styles';

* {
  color: black;
  font-size: large;
}

.containerCalendar {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  p-calendar,
  p-button {
    padding-right: 5px;
  }
}

:host ::ng-deep .p-inputtext {
  padding: $es-padding !important;
  padding-left: $s-padding !important;
  margin: 0 !important;
}

:host ::ng-deep .p-datepicker-trigger {
  padding: $es-padding !important;
  margin: 0 !important;
}

.containerGraph {
  display: flex;
  // justify-content: flex-start;
  justify-content: center;
}

p-chart {
  flex-basis: 99% !important;
}

img {
  min-height: 48px;
  min-width: 48px;
}
