// import global styling
@import '../../../../styles';

* {
  color: black;
  font-size: large;
}

.containerCalendar {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  p-calendar {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
}

:host ::ng-deep .p-inputtext {
  padding: $es-padding !important;
  padding-left: $s-padding !important;
  margin: 0 !important;
}

:host ::ng-deep .p-datepicker-trigger {
  padding: $es-padding !important;
  margin: 0 !important;
}

img {
  min-height: 32px;
  min-width: 32px;
}

.buttonStyleDiv {
  padding: 0;
  border: 1px solid #9bc53d;
  border-radius: 4px;
  max-height: 31px;
  min-width: 42px;
  display: flex;
  justify-content: center;
}
