<!-- <p-toast [style]="{ marginTop: '80px' }"></p-toast> -->
<!-- [inputStyle]="{ width: '279px' }" -->
<div class="containerCalendar">
  <button
    pButton
    type="button"
    class="p-button-outlined p-button-sm"
    *ngIf="expandGraph"
    (click)="expand()"
    [style]="{ height: '30px', width: '52px', padding: '1px' }"
  >
    <img src="assets/imgs/icons/shrinkgreen.svg" />
  </button>

  <button
    pButton
    type="button"
    class="p-button-outlined p-button-sm"
    *ngIf="!expandGraph"
    (click)="expand()"
    [style]="{ height: '30px', width: '52px', padding: '1px' }"
  >
    <img src="assets/imgs/icons/expandgreen.svg" />
  </button>

  <!-- <p-button
    *ngIf="!expandGraph"
    (click)="expand()"
    [style]="{ height: '30px', width: '52px', padding: '0' }"
  >
    <img src="assets/imgs/icons/expandbrown.svg" />
  </p-button> -->

  <p-calendar
    *ngIf="!showInSmallScreens"
    ngDefaultControl
    #idToClose
    [(ngModel)]="selectedDateRange"
    dateFormat="dd.mm.yy"
    selectionMode="range"
    [readonlyInput]="true"
    [numberOfMonths]="1"
    [showIcon]="true"
    [placeholder]="placeholder"
    [style]="{ width: '100%', 'min-width': '100%' }"
    [maxDate]="todayDate"
    hideOnDateTimeSelect="true"
    (onSelect)="closeCalendarDialog($event)"
  ></p-calendar>
  <p-calendar
    *ngIf="showInSmallScreens"
    [touchUI]="true"
    ngDefaultControl
    #idToClose
    [(ngModel)]="selectedDateRange"
    dateFormat="dd.mm.yy"
    selectionMode="range"
    [readonlyInput]="true"
    [numberOfMonths]="1"
    [showIcon]="true"
    [placeholder]="placeholder"
    [style]="{ width: '100%', 'min-width': '100%' }"
    [maxDate]="todayDate"
    hideOnDateTimeSelect="true"
    (onSelect)="closeCalendarDialog($event)"
  ></p-calendar>
  <p-dropdown
    ngDefaultControl
    [options]="exchanges"
    (onChange)="selection($event, dd)"
    [(ngModel)]="selectRate"
    name="selectRate"
    #dd
    [style]="{ width: '100%', 'min-width': '100%' }"
  ></p-dropdown>
</div>

<div>
  <canvas id="canvasDashboardCoin" height="320">{{ chartCoin }}</canvas>
</div>
