// import global styling
@import '../../../../styles';

* {
  margin-top: $s-padding;
  // margin-bottom: $s-padding;
}

img {
  max-width: $e-Height;
  height: $e-Height;
}

::ng-deep p-accordion {
  background-color: var(--color) !important;
  border: 0;
}

:host ::ng-deep .p-card-body {
  padding: 0 !important;
  padding-left: $s-padding !important;
}

:host ::ng-deep .p-card-content {
  padding: 0 !important;
  padding-top: $s-padding !important;
}

:host ::ng-deep .p-card {
  padding-right: $s-padding !important;
}

span {
  justify-content: space-between;
}

span,
td {
  padding: 0;
  margin: 0;
  display: flex;
}

:host ::ng-deep .p-ripple {
  display: none;
}

:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: $e-padding !important;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

:host ::ng-deep .p-accordion .p-accordion-content {
  padding: $e-padding !important;
}

.highOfTheDay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lowOfTheDay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-icons {
  margin-top: $s-padding;
  margin: 0;
}

::ng-deep .p-accordion {
  margin-bottom: $ss-padding;
}

@media screen and (max-width: $bb-mediaQueriesWidth) {
  :host ::ng-deep .p-carousel-indicators {
    display: none !important;
  }
  .smallFont {
    font-size: $es-fontSize;
  }
}
