// import global styling
@import '../../../../styles';

* {
  padding: 0;
}

td,
th {
  font-size: $ms-fontSize;
  text-align: center;
  vertical-align: middle;
}

th {
  font-size: $m-fontSize;
}

td i {
  display: inline-flex;
  vertical-align: middle;
}

td {
  font-weight: 600;
}

img {
  max-width: $e-Width;
  max-height: $e-Height;
}

.ui-column-filter {
  display: block;
  width: 98%;
  min-height: 32px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: $m-padding;
  padding-bottom: $m-padding;
}

input {
  font-size: 14px;
}

:host ::ng-deep th,
:host ::ng-deep tr {
  padding: 0 !important;
  padding-left: $s-padding !important;
  margin: 0 !important;
}

:host ::ng-deep .th-star {
  padding: 0 !important;
}

:host ::ng-deep .p-inputtext {
  padding: $es-padding !important;
  padding-left: $s-padding !important;
  margin: 0 !important;
}

span {
  padding: 0;
  margin: 0;
  display: flex;
}

@media screen and (max-width: $m-mediaQueriesWidth) {
  .container {
    margin: 10px 0 10px 0;
    padding: 0;
  }

  :host ::ng-deep .ng-tns-c58-6 .p-inputtext {
    padding: 5px !important;
  }
}
