<p-carousel
  [value]="cars"
  [numVisible]="4"
  [numScroll]="3"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
>
  <p-header>
    <h3>Basic</h3>
  </p-header>
  <ng-template let-car pTemplate="item">
    <div class="car-details">
      <div class="p-grid p-nogutter">
        <div class="p-col-12">
          <img src="assets/showcase/images/demo/car/{{ car.brand }}.png" />
        </div>
        <div class="p-col-12 car-data">
          <div class="car-title">{{ car.brand }}</div>
          <div class="car-subtitle">{{ car.year }} | {{ car.color }}</div>

          <div class="car-buttons">
            <button
              pButton
              type="button"
              class="ui-button-secondary"
              icon="pi pi-search"
            ></button>
            <button
              pButton
              type="button"
              class="ui-button-secondary"
              icon="pi pi-star"
            ></button>
            <button
              pButton
              type="button"
              class="ui-button-secondary"
              icon="pi pi-cog"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
