// import global styling
@import '../../../styles';

* {
  padding: $es-padding;
}

nav {
  padding: $es-padding;
  font-size: $m-fontSize;
  color: var(--color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--boxShadow1);
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--color);
  &:hover {
    color: var(--selected);
  }
  margin-left: $es-padding;
}

.title {
  color: var(--color2);
  font-size: $ss-fontSize;
  margin-left: 0;
  padding-left: 0;
}

@media screen and (max-width: $m-mediaQueriesWidth) {
  .hideInSmallScreens {
    display: none !important;
  }
}

@media screen and (min-width: $m-mediaQueriesWidth) {
  .showInSmallScreens {
    display: none !important;
  }
}
