<nav>
  <!-- <span class="showInSmallScreens">
    {{ 'TRANSLATE.NAVBAR.TITLE' | translate }}
  </span> -->

  <!-- Home, About...: left position -->
  <div>
    <a routerLink="/">
      <img
        class="icon"
        src="./assets/imgs/icons/ck.svg"
        width="46"
        height="46"
        alt="MK-Logo"
      />
    </a>
    <span class="hideInSmallScreens">
      <a routerLink="/" class="title">
        {{ 'TRANSLATE.NAVBAR.TITLE' | translate }}
      </a>
      <a routerLink="/" routerLinkActive="active-link">
        {{ 'TRANSLATE.NAVBAR.HOME' | translate }}
      </a>
      <a routerLink="exchanges" routerLinkActive="active-link">
        {{ 'TRANSLATE.NAVBAR.EXCHANGES' | translate }}
      </a>
      <a routerLink="news" routerLinkActive="active-link">
        {{ 'TRANSLATE.NAVBAR.NEWS' | translate }}
      </a>
      <a routerLink="about" routerLinkActive="active-link">
        {{ 'TRANSLATE.NAVBAR.ABOUT' | translate }}
      </a>
    </span>
  </div>

  <!-- Right Position -->
  <div>
    <a routerLink="/register">
      {{ 'TRANSLATE.NAVBAR.REGISTER' | translate }}
    </a>
    <a routerLink="/login">
      {{ 'TRANSLATE.NAVBAR.LOGIN' | translate }}
    </a>
    <button class="showInSmallScreens">
      H
    </button>
  </div>
</nav>
