nav {
  align-self: center;
  padding-top: 7px;
  font-size: 20px;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .hideInSmallScreens {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .showInSmallScreens {
    display: none !important;
  }
}
