<nav>
  <!-- <span class="showInSmallScreens">
    {{ 'TRANSLATE.NAVBAR.TITLE' | translate }}
  </span> -->

  <!-- Home, About...: left position -->
  <div>
    <a routerLink="/">
      <img
        src="./assets/imgs/icons/mk.svg"
        width="46"
        height="46"
        alt="MK-Logo"
      />
    </a>
    <a routerLink="/" class="title hideInSmallScreens">
      {{ 'TRANSLATE.NAVBAR.TITLE' | translate }}
    </a>
    <a routerLink="/">
      {{ 'TRANSLATE.NAVBAR.HOME' | translate }}
    </a>
    <a routerLink="exchanges">
      {{ 'TRANSLATE.NAVBAR.EXCHANGES' | translate }}
    </a>
    <a routerLink="news">
      {{ 'TRANSLATE.NAVBAR.NEWS' | translate }}
    </a>
    <a routerLink="about">
      {{ 'TRANSLATE.NAVBAR.ABOUT' | translate }}
    </a>
  </div>

  <!-- Right Position -->
  <div>
    <a routerLink="/register">
      {{ 'TRANSLATE.NAVBAR.REGISTER' | translate }}
    </a>
    <a routerLink="/login">
      {{ 'TRANSLATE.NAVBAR.LOGIN' | translate }}
    </a>
    <button>
      H
    </button>
  </div>
</nav>
