<!-- <p-dropdown [options]="exchanges"></p-dropdown> -->

<!-- <p-dropdown
  ngDefaultControl
  [options]="cities1"
  [(ngModel)]="name"
  name="name"
></p-dropdown> -->

<p-dropdown
  ngDefaultControl
  [options]="cities1"
  (onChange)="selection($event)"
></p-dropdown>

<button (click)="hello()"></button>

<p>{{ name }}</p>
<br />
<br />
<br />
<br />

<p-table
  [value]="coins"
  [paginator]="true"
  [rows]="5"
  [rowHover]="true"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} cryptos"
  #dt
>
  <ng-template pTemplate="caption">
    <h1>
      List of Cryptos
    </h1>
    <div class="ui-table-globalfilter-container"></div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="rank">
        {{ "TRANSLATE.HOME.TABLE.RANK" | translate
        }}<p-sortIcon field="rank"></p-sortIcon>
      </th>
      <th>{{ "TRANSLATE.HOME.TABLE.SYMBOL" | translate }}</th>
      <th>
        {{ "TRANSLATE.HOME.TABLE.NAME" | translate }}

        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'name', 'startsWith')"
          placeholder="Search by Name"
          class="ui-column-filter"
        />
      </th>
      <th>{{ "TRANSLATE.HOME.TABLE.PRICE" | translate }}</th>
      <th>
        {{ "TRANSLATE.HOME.TABLE.PRICE_EUR" | translate }}
        <input type="number" step="0.01" [(ngModel)]="factor" name="factor" />
      </th>
      <th>{{ "TRANSLATE.HOME.TABLE.PRICE_BTC" | translate }}</th>
      <th>{{ "TRANSLATE.HOME.TABLE.CHANGE_1H" | translate }}</th>
      <th>{{ "TRANSLATE.HOME.TABLE.CHANGE_24H" | translate }}</th>
      <th>{{ "TRANSLATE.HOME.TABLE.CHANGE_7D" | translate }}</th>
      <th>{{ "TRANSLATE.HOME.TABLE.MARKET_CAP" | translate }}</th>
      <th>{{ "TRANSLATE.HOME.TABLE.VOLUME_24H" | translate }}</th>
      <!-- <th>{{ "TRANSLATE.HOME.TABLE.VOLUME_24HA" | translate }}</th> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-coin>
    <tr class="ui-selectable-row">
      <td>{{ coin.rank }}</td>
      <td>
        <img src="assets/imgs/coins/{{ coin.symbol | lowercase }}.png" />
      </td>
      <td>{{ coin.name }}</td>
      <td>{{ coin.price_usd | currency: "USD" }}</td>
      <td>{{ coin.price_usd / factor | currency: "EUR" }}</td>
      <td>{{ coin.price_btc }}</td>
      <!-- change 1h -->
      <div
        *ngIf="coin.percent_change_1h > 0; then thenBlock; else elseBlock"
      ></div>
      <ng-template #thenBlock>
        <td style="color: green;">
          <i class="material-icons">trending_up</i>
          {{ coin.percent_change_1h / 100 | percent: "2.2-2" }}
        </td>
      </ng-template>
      <ng-template #elseBlock>
        <td style="color: red;">
          <i class="material-icons">trending_down</i>
          {{ coin.percent_change_1h / 100 | percent: "2.2-2" }}
        </td>
      </ng-template>
      <!-- change 24h -->
      <div
        *ngIf="coin.percent_change_24h > 0; then thenBlock; else elseBlock"
      ></div>
      <ng-template #thenBlock>
        <td style="color: green;">
          <i class="material-icons">trending_up</i>
          {{ coin.percent_change_24h / 100 | percent: "2.2-2" }}
        </td>
      </ng-template>
      <ng-template #elseBlock>
        <td style="color: red;">
          <i class="material-icons">trending_down</i>
          {{ coin.percent_change_24h / 100 | percent: "2.2-2" }}
        </td>
      </ng-template>
      <!-- change 7 Days -->
      <div
        *ngIf="coin.percent_change_7d > 0; then thenBlock; else elseBlock"
      ></div>
      <ng-template #thenBlock>
        <td style="color: green;">
          <i class="material-icons">trending_up</i>
          {{ coin.percent_change_7d / 100 | percent: "2.2-2" }}
        </td>
      </ng-template>
      <ng-template #elseBlock>
        <td style="color: red;">
          <i class="material-icons">trending_down</i>
          {{ coin.percent_change_7d / 100 | percent: "2.2-2" }}
        </td>
      </ng-template>
      <td>{{ coin.market_cap_usd | formatCurrency }}</td>
      <td>{{ coin.volume24 | formatCurrency }}</td>
      <!-- <td>{{ coin.volume24a | formatCurrency }}</td> -->
    </tr>
  </ng-template>
</p-table>
