* {
  padding: 5px;
  cursor: default;
}

td,
th {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

th {
  color: black !important;
  font-size: 20px;
  /* background-color: #17a2b8 !important; */
  background-color: #dbf9f0 !important;
}

td i {
  display: inline-flex;
  vertical-align: middle;
}

td:nth-child(odd) {
  color: #3333a5;
}

td {
  font-weight: 600;
}

img {
  max-width: 48px;
  max-height: 48px;
}

.ui-column-filter {
  display: block;
  min-width: 100%;
  min-height: 32px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

input {
  font-size: 14px;
  text-align: left;
  vertical-align: left;
  max-width: 160px;
  width: 140px;
}

@media screen and (max-width: 1000px) {
  .hideInSmallScreens {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .hideInExtraSmallScreens {
    display: none;
  }
}
