<div class="p-grid">
  <p-table
    [value]="coins"
    [paginator]="true"
    [rows]="10"
    [rowHover]="true"
    [rowsPerPageOptions]="[5, 10, 25, 50, 100, 200]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} cryptos"
    #dt
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="rank">
          {{ 'TRANSLATE.HOME.TABLE.RANK' | translate
          }}<p-sortIcon field="rank"></p-sortIcon>
        </th>
        <th>{{ 'TRANSLATE.HOME.TABLE.SYMBOL' | translate }}</th>
        <th>
          {{ 'TRANSLATE.HOME.TABLE.NAME' | translate }}
          <div class="container">
            <div>
              <input
                pInputText
                type="text"
                (input)="dt.filter($event.target.value, 'name', 'startsWith')"
                placeholder="Search by Name"
                class="ui-column-filter"
              />
            </div>
          </div>
        </th>
        <th>{{ 'TRANSLATE.HOME.TABLE.PRICE' | translate }}</th>
        <th>{{ 'TRANSLATE.HOME.TABLE.PRICE_EUR' | translate }}</th>
        <th>
          Price in
          <div class="container">
            <p-dropdown
              ngDefaultControl
              [options]="exchanges"
              (onChange)="selection($event, dd)"
              [(ngModel)]="selectRate"
              name="selectRate"
              #dd
              [style]="{ width: '100%', 'min-width': '100%' }"
            ></p-dropdown>
          </div>
        </th>
        <th>{{ 'TRANSLATE.HOME.TABLE.PRICE_BTC' | translate }}</th>
        <th>{{ 'TRANSLATE.HOME.TABLE.CHANGE_1H' | translate }}</th>
        <th>{{ 'TRANSLATE.HOME.TABLE.CHANGE_24H' | translate }}</th>
        <th>{{ 'TRANSLATE.HOME.TABLE.CHANGE_7D' | translate }}</th>
        <th>{{ 'TRANSLATE.HOME.TABLE.MARKET_CAP' | translate }}</th>
        <th>{{ 'TRANSLATE.HOME.TABLE.VOLUME_24H' | translate }}</th>
        <!-- <th>{{ "TRANSLATE.HOME.TABLE.VOLUME_24HA" | translate }}</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coin>
      <tr class="ui-selectable-row">
        <td>{{ coin.rank }}</td>
        <td>
          <img
            src="assets/imgs/coins/{{ coin.symbol | lowercase }}.png"
            alt="{{ coin.symbol | lowercase }}"
          />
        </td>
        <td>{{ coin.name }}</td>
        <td>{{ coin.price_usd | currency: 'USD' }}</td>
        <td>{{ coin.price_usd * selectRateEUR | currency: 'EUR' }}</td>
        <td>
          {{ coin.price_usd * selectRate | currency: selectedExchange }}
        </td>
        <td>{{ coin.price_btc }}</td>
        <!-- change 1h -->
        <div
          *ngIf="coin.percent_change_1h > 0; then thenBlock; else elseBlock"
        ></div>
        <ng-template #thenBlock>
          <td style="color: green;">
            <i class="material-icons">trending_up</i>
            {{ coin.percent_change_1h | percent: '2.2-2' }}
          </td>
        </ng-template>
        <ng-template #elseBlock>
          <td style="color: red;">
            <i class="material-icons">trending_down</i>
            {{ coin.percent_change_1h | percent: '2.2-2' }}
          </td>
        </ng-template>
        <!-- change 24h -->
        <div
          *ngIf="coin.percent_change_24h > 0; then thenBlock; else elseBlock"
        ></div>
        <ng-template #thenBlock>
          <td style="color: green;">
            <i class="material-icons">trending_up</i>
            {{ coin.percent_change_24h }}
          </td>
        </ng-template>
        <ng-template #elseBlock>
          <td style="color: red;">
            <i class="material-icons">trending_down</i>
            {{ coin.percent_change_24h }}
          </td>
        </ng-template>
        <!-- change 7 Days -->
        <div
          *ngIf="coin.percent_change_7d > 0; then thenBlock; else elseBlock"
        ></div>
        <ng-template #thenBlock>
          <td style="color: green;">
            <i class="material-icons">trending_up</i>
            {{ coin.percent_change_7d | percent: '2.2-2' }}
          </td>
        </ng-template>
        <ng-template #elseBlock>
          <td style="color: red;">
            <i class="material-icons">trending_down</i>
            {{ coin.percent_change_7d | percent: '2.2-2' }}
          </td>
        </ng-template>
        <td>{{ coin.market_cap_usd | formatCurrency }}</td>
        <td>{{ coin.volume24 | formatCurrency }}</td>
        <!-- <td>{{ coin.volume24a | formatCurrency }}</td> -->
      </tr>
    </ng-template>
  </p-table>
</div>
<br />
<br /><br /><br />
