// import global styling
@import '../../../../styles';

* {
  padding: $s-padding;
  cursor: default;
}

td,
th {
  font-size: $ss-fontSize;
  text-align: center;
  vertical-align: middle;
}

th {
  color: $colorBlack !important;
  font-size: $m-fontSize;
  /* background-color: #17a2b8 !important; */
  background-color: $color1 !important;
  /* background-color: red !important; */
}

td i {
  display: inline-flex;
  vertical-align: middle;
}

td:nth-child(odd) {
  color: $colorBlue;
}

td {
  font-weight: 600;
}

img {
  max-width: $mm-imgWidth;
  max-height: $mm-imgHeight;
}

.ui-column-filter {
  display: block;
  min-width: 100%;
  min-height: 32px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $s-padding;
}

input {
  font-size: 13px;
  text-align: left;
  vertical-align: left;
  /* max-width: 160px; */
  width: 140px;
}

@media screen and (min-width: $ss-mediaQueriesWidth) {
  .hideInBigScreens {
    display: none;
  }
}

@media screen and (max-width: $b-mediaQueriesWidth) {
  .hideBelow1200 {
    display: none;
  }
}

@media screen and (max-width: $m-mediaQueriesWidth) {
  .hideBelow800 {
    display: none;
  }
}

// @media screen and (max-width: $ss-mediaQueriesWidth) {
//   tr:nth-child(odd) {
//     background-color: $bg3;
//   }
//   tr:nth-child(even) {
//     background-color: $bg4;
//   }
// }
