* {
  padding: 10px;
  cursor: default;
}

td,
th {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

th {
  font-size: 20px;
}

td i {
  display: inline-flex;
  vertical-align: middle;
}

td:nth-child(odd) {
  color: #3333a5;
}

td {
  font-weight: 600;
}

img {
  max-width: 48px;
  max-height: 48px;
}

.ui-column-filter {
  display: block;
  min-width: 100%;
  min-height: 32px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

input {
  font-size: 14px;
  text-align: left;
  vertical-align: left;
  max-width: 140px;
}

/* p-dropdown .ui-dropdown {
  min-width: 0;
  max-width: 3em;
} */
