<!-- <div>
  <p-chart type="pie" [data]="hoursByProjectChartData"></p-chart>
  <p-chart type="doughnut" [data]="hoursByProjectChartData"></p-chart>
</div> -->

<h1 style="text-align: center;">Crypto-Tracker</h1>

<!-- <p-chart type="line" [data]="data"></p-chart> -->

<div class="p-grid">
  <div class="p-col-3">
    <p-chart type="bar" [data]="dataBar"></p-chart>
  </div>

  <div class="p-col-3">
    <p-chart type="bar" [data]="dataBar"></p-chart>
  </div>
  <div class="p-col-3">
    <p-chart type="bar" [data]="dataBar"></p-chart>
  </div>

  <div class="p-col-3">
    <p-chart type="bar" [data]="dataBar"></p-chart>
  </div>
</div>
