body {
  background-color: white;
}

//colors for background
$bg1: #e0d2c3;
$bg2: #c6dbf0;
$bg3: #ecebe4;
$bg4: #efd2cb;

//colors:
$color1: #dbf9f0;
$colorBlack: black;
$colorWhite: white;
$colorBlue: #3333a5;
