/* You can add global styles to this file, and also import other style files */

// styles.scss
@import '_variables';
// @import '~bootstrap/scss/bootstrap.scss';
// @import '../node_modules/bootstrap/scss/bootstrap.scss';

// The _ (underscore) is a partial for scss. That means the stylesheet its going to be imported (@import) to a main stylesheet i.e. styles.scss
// The advantage on using partials is that you can use many files to organize your code and everything will be compiled on a single file.

/* body {
  font-size: 0rem;
} */
html {
  overflow-x: hidden;
}

//spacing
$es-padding: 2px;
$s-padding: 5px;
$ss-padding: 10px;
$m-padding: 15px;
$mm-padding: 20px;
$b-padding: 25px;
$bb-padding: 30px;

//font-size

$es-fontSize: 10px;
$ss-fontSize: 15px;
$m-fontSize: 20px;

// color for hover
$bgHover1: #ffff99;

//colors for background
$bg1: #e0d2c3;
$bg2: #c6dbf0;
$bg3: #ecebe4;
$bg4: #efd2cb;

//colors:
$color1: #dbf9f0;
$colorBlack: black;
$colorWhite: white;
$colorBlue: #3333a5;

//box shadow
$boxShadow1: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

//images width and height
$s-imgWidth: 24px;
$m-imgWidth: 36px;
$s-imgHeight: 24px;
$m-imgHeight: 36px;
$mm-imgWidth: 48px;
$mm-imgHeight: 48px;

//Media Queries Screen
$ss-mediaQueriesWidth: 640px;
$m-mediaQueriesWidth: 768px;
$mm-mediaQueriesWidth: 100px;
$b-mediaQueriesWidth: 1200px;
$bb-mediaQueriesWidth: 1500px;

// .selected {
//   background-color: $bg4;
// }

@media screen and (min-width: $bb-mediaQueriesWidth) {
  .hideInBigScreens {
    display: none;
  }
}
@media screen and (max-width: $bb-mediaQueriesWidth) {
  .hideBelow1500 {
    display: none;
  }
}

@media screen and (max-width: $b-mediaQueriesWidth) {
  .hideBelow1200 {
    display: none !important;
  }
}

@media screen and (max-width: $m-mediaQueriesWidth) {
  .hideBelow800 {
    display: none !important;
  }
}
