body {
  background-color: black;
  color: white;
}

h2 {
  color: white;
}

//colors for background
$bg1: #522f0b;
$bg2: #10365c;
$bg3: #5c5316;
$bg4: #4e1f13;

//colors:
$color1: #b4ddd1;
$colorBlack: white;
$colorWhite: black;
$colorBlue: #83838f;

td:nth-child(odd) {
  color: $colorBlue !important;
}
