@import 'styles';

:root {
  --background-color: rgb(17, 16, 16);
  --color: white;
  //colors for background
  --bg1: #522f0b;
  --bg2: #10365c;
  --bg3: #5c5316;
  --bg4: #4e1f13;

  //colors:
  --color1: #b4c2dd;
  --colorBlack: white;
  --colorWhite: black;
  --colorBlue: #83838f;
  --selected: #9bc53d;

  // color for hover
  --bgHover1: var(--bg3);

  // shadow
  --boxShadow1: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  // footer
  // --colorBackGroundFooter: rgb(56, 62, 68);
  --colorBackGroundFooter: rgb(56, 62, 68);

  // footer
  // --colorBackGroundNav: rgb(56, 62, 68);
  --colorBackGroundNav: rgb(56, 62, 68);
}

// specific for dark
p-sortIcon {
  filter: brightness(0) invert(1);
}
