@import 'styles';

body {
  background-color: rgb(17, 16, 16);
  color: white;
}

h2 {
  color: white;
}

//colors for background
$bg1: #522f0b;
$bg2: #10365c;
$bg3: #5c5316;
$bg4: #4e1f13;

//colors:
$color1: #b4c2dd;
$colorBlack: white;
$colorWhite: black;
$colorBlue: #83838f;

td:nth-child(odd) {
  color: $colorBlue !important;
}

.nav-tabs {
  border: 0;
}

.ui-card {
  /* min-height: inherit; */
  min-height: 100%;
  // &:hover {
  //   // background-color: $bg2;
  // }
}

th {
  color: $colorBlack !important;
  font-size: $ss-fontSize;
  /* background-color: #17a2b8 !important; */
  background-color: black !important;
  /* background-color: red !important; */
}

tr:nth-child(odd) {
  background-color: $bg4 !important;
  color: white !important;
}
tr:nth-child(even) {
  color: white !important;
}

tr:nth-child(odd):hover {
  background-color: $bgHover1 !important;
  color: black !important;
}
tr:nth-child(even):hover {
  background-color: $bgHover1 !important;
  color: black !important;
}

@media screen and (max-width: $ss-mediaQueriesWidth) {
  tr:nth-child(odd) {
    background-color: $bg3 !important;
  }
  tr:nth-child(even) {
    background-color: $bg4 !important;
  }
}

.selected {
  // border: 2px solid red;
  // border: 2px outset #4bc0c0;
  border: 2px solid #9bc53d;
  border-radius: 2px 2px 2px 2px;
}

p-sortIcon {
  filter: brightness(0) invert(1);
}
