@import 'styles';

:root {
  --background-color: white;
  --color: black;

  //colors for background
  --bg1: #e0d2c3;
  --bg2: #c6dbf0;
  --bg3: #ecebe4;
  --bg4: #efd2cb;

  //colors:
  --color1: #dbf9f0;
  --color2: #444545;
  --colorBlack: black;
  --colorWhite: white;
  --colorBlue: #3333a5;
  --selected: red;

  // color for hover
  --bgHover1: #ffff99;

  // shadow
  --boxShadow1: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  // footer
  --colorBackGroundFooter: white;

  // footer
  --colorBackGroundNav: white;
}

// @media screen and (max-width: $ss-mediaQueriesWidth) {
//   tr:nth-child(odd) {
//     background-color: $bg3 !important;
//   }
//   tr:nth-child(even) {
//     background-color: $bg4 !important;
//   }
// }

p-sortIcon {
  filter: brightness(0) invert(0.3);
}
