/* You can add global styles to this file, and also import other style files */

// styles.scss
@import '_variables';
// @import '~bootstrap/scss/bootstrap.scss';
// @import '../node_modules/bootstrap/scss/bootstrap.scss';

// The _ (underscore) is a partial for scss. That means the stylesheet its going to be imported (@import) to a main stylesheet i.e. styles.scss
// The advantage on using partials is that you can use many files to organize your code and everything will be compiled on a single file.

//spacing
$es-padding: 2px;
$s-padding: 5px;
$ss-padding: 10px;
$m-padding: 15px;
$mm-padding: 20px;
$b-padding: 25px;
$bb-padding: 30px;

//font-size

$es-fontSize: 10px;
$ss-fontSize: 15px;
$ms-fontSize: 18px;
$m-fontSize: 20px;
$mb-fontSize: 24px;

//images width and height
$s-imgWidth: 24px;
$m-imgWidth: 36px;
$s-imgHeight: 24px;
$m-imgHeight: 36px;
$mm-imgWidth: 48px;
$mm-imgHeight: 48px;

//Media Queries Screen
$ss-mediaQueriesWidth: 640px;
$m-mediaQueriesWidth: 768px;
$mm-mediaQueriesWidth: 100px;
$b-mediaQueriesWidth: 1200px;
$bb-mediaQueriesWidth: 1500px;

html,
body {
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--color);
}

h2 {
  color: var(--color);
}

.ui-card {
  min-height: 100%;
}

.nav-tabs {
  border: 0;
}

th {
  color: var(--color) !important;
  background-color: var(--background-color) !important;
  font-size: $ss-fontSize;
}

tr:nth-child(odd) {
  background-color: var(--bg2) !important;
}
tr:nth-child(even) {
  background-color: var(--bg3) !important;
}

tr:hover {
  color: var(--color) !important;
  background-color: var(--background-color) !important;
}

.selected {
  border: 2px solid var(--selected);
  border-radius: 2px 2px 2px 2px;
}

// for dashboard-cards
.highOfTheDay {
  color: var(--selected);
}
.lowOfTheDay {
  color: var(--color);
}

@media screen and (min-width: $bb-mediaQueriesWidth) {
  .hideInBigScreens {
    display: none;
  }
}
@media screen and (max-width: $bb-mediaQueriesWidth) {
  .hideBelow1500 {
    display: none;
  }
}

@media screen and (max-width: $b-mediaQueriesWidth) {
  .hideBelow1200 {
    display: none !important;
  }
}

@media screen and (max-width: $m-mediaQueriesWidth) {
  .hideBelow768 {
    display: none !important;
  }
}
@media screen and (max-width: $ss-mediaQueriesWidth) {
  .hideBelow640 {
    display: none !important;
  }
}

@media screen and (min-width: $ss-mediaQueriesWidth) {
  .hideAbove640 {
    display: none;
  }
}
@media screen and (min-width: $m-mediaQueriesWidth) {
  .hideAbove768 {
    display: none;
  }
}
