@import 'styles';

body {
  background-color: white;
}

//colors for background
$bg1: #e0d2c3;
$bg2: #c6dbf0;
$bg3: #ecebe4;
$bg4: #efd2cb;

//colors:
$color1: #dbf9f0;
$colorBlack: black;
$colorWhite: white;
$colorBlue: #3333a5;

@media screen and (max-width: $ss-mediaQueriesWidth) {
  tr:nth-child(odd) {
    background-color: $bg3 !important;
  }
  tr:nth-child(even) {
    background-color: $bg4 !important;
  }
}

.ui-card {
  /* min-height: inherit; */
  min-height: 100%;
  &:hover {
    background-color: $bg2;
  }
}
