// import global styling
@import '../../../styles';

* {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.graphButtons {
  display: flex;
  justify-content: center;
  margin: $es-padding;
  cursor: pointer;
  max-height: 32px;

  p-dropdown {
    // border: 1px solid rgb(33, 150, 243);
    // box-shadow: none;
    border-radius: 3px;
    margin-right: $s-padding;
    line-height: 1 !important;
  }
}
