
<app-cards-global-data></app-cards-global-data>

<app-cards-cryptos></app-cards-cryptos>

  <p-tabView>
    <p-tabPanel header="Cryptos">
      <app-table-cryptos [symbol]="symbol" [atWatchList]="false" [listWatchCryptos]="listWatchCryptos" (clickedWatchListStart)="setWatchListStar($event)"></app-table-cryptos>
    </p-tabPanel>
    <p-tabPanel header="Watchlist">
      <app-table-cryptos [symbol]="symbol" [atWatchList]="true" [listWatchCryptos]="listWatchCryptos" (clickedWatchListStart)="setWatchListStar($event)"></app-table-cryptos>
    </p-tabPanel>

    <p-tabPanel>

      <ng-template pTemplate="header">
        <i class="pi pi-chart-line">&nbsp;</i>
        <span class="hideBelow1500">Full Year</span>
        <span class="hideInBigScreens">1y</span>
      </ng-template>

      <ng-template pTemplate="content">

          <p-dropdown
          ngDefaultControl
          [options]="exchanges"
          (onChange)="selection($event, dd)"
          [(ngModel)]="selectRate"
          name="selectRate"
          #dd
        ></p-dropdown>

      <app-graphic-full-year
      [zoomGraph]="zoomGraph"
      [selectRate]="selectRate"
      [selectedExchange]="selectedExchange"
        ></app-graphic-full-year>

      </ng-template>
    </p-tabPanel>

    <p-tabPanel>

      <ng-template pTemplate="header">
        <i class="pi pi-chart-line">&nbsp;</i>
        <span class="hideBelow1500">24 hours</span>
        <span class="hideInBigScreens">24h</span>
      </ng-template>

      <ng-template pTemplate="content">

          <p-dropdown
          ngDefaultControl
          [options]="exchanges"
          (onChange)="selection($event, dd)"
          [(ngModel)]="selectRate"
          name="selectRate"
          #dd
        ></p-dropdown>

      <app-graphic-24-hours
        [zoomGraph]="zoomGraph"
        [selectRate]="selectRate"
        [selectedExchange]="selectedExchange"
      ></app-graphic-24-hours>

      </ng-template>
    </p-tabPanel>
  </p-tabView>


