
<app-cards-global-data></app-cards-global-data>
<app-cards-cryptos [symbol]="symbol"></app-cards-cryptos>
<!-- *ngIf="visible; else elseBlock" -->
  <app-graphic-full-year
    [zoomGraph]="zoomGraph"
    [selectRate]="selectRate"
    [selectedExchange]="selectedExchange"

  ></app-graphic-full-year>
  <!-- <ng-template #elseBlock>
    <app-graphic-24-hours
      [zoomGraph]="zoomGraph"
      [selectRate]="selectRate"
      [selectedExchange]="selectedExchange"
    ></app-graphic-24-hours>
    <div></div>
  </ng-template> -->

  <button pButton icon="pi pi-chart-line" class="p-button-outlined p-button-secondary button-chart-options" (click)="op.toggle($event)"></button>


<p-overlayPanel #op >
  <ng-template pTemplate>
      <p-dropdown
      ngDefaultControl
      [options]="exchanges"
      (onChange)="selection($event, dd)"
      [(ngModel)]="selectRate"
      name="selectRate"
      #dd
    ></p-dropdown>
    <button
      pButton
      type="button"
      label="{{ label }}"
      class="p-button-secondary p-button-outlined p-button-sm"
      (click)="switchGraphs()"
    ></button>

    <button
      pButton
      type="button"
      label="Zoom&Pan"
      icon="pi pi-search"
      class="p-button-secondary p-button-outlined p-button-sm"
      (click)="toggleZoomGraph()"
    ></button>
  </ng-template>
</p-overlayPanel>


<app-table-cryptos [symbol]="symbol"></app-table-cryptos>
